<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Japan">
    <item>
      <listing>Bento Box</listing>
      <price>15</price>
    </item>
    <item>
      <listing>Sushi combo</listing>
      <price>11</price>
    </item>
    <item>
      <listing>Temaki</listing>
      <price>7</price>
    </item>
  </category>
  <category name="Chinese">
    <item>
      <listing>Chow Mein</listing>
      <price>9</price>
    </item>
    <item>
      <listing>Kung Pao Chicken</listing>
      <price>11</price>
    </item>
    <item>
      <listing>Ma Po Tofu</listing>
      <price>7.50</price>
    </item>
  </category>
  <category name="Mexican">
    <item>
      <listing>Burrito</listing>
      <price>9</price>
    </item>
    <item>
      <listing>Chilaquiles</listing>
      <price>7.50</price>
    </item>
    <item>
      <listing>Tacos Al Pastor</listing>
      <price>11</price>
    </item>
  </category>
  <category name="Italian">
    <item>
      <listing>Pizza</listing>
      <price>9</price>
    </item>
    <item>
      <listing>Pasta</listing>
      <price>13</price>
    </item>
    <item>
      <listing>Lasagna</listing>
      <price>14</price>
    </item>
  </category>
  <category name="Greek">
    <item>
      <listing>Greek Salad</listing>
      <price>11</price>
    </item>
    <item>
      <listing>Taramasalata</listing>
      <price>9</price>
    </item>
    <item>
      <listing>Tiropitakia</listing>
      <price>7</price>
    </item>
  </category>
  <category name="American">
    <item>
      <listing>Bacon Cheeseburger</listing>
      <price>10</price>
    </item>
    <item>
      <listing>Bucket Fried Chicken</listing>
      <price>9</price>
    </item>
    <item>
      <listing>Barbecue Ribs</listing>
      <price>15</price>
    </item>
  </category>
</menu>