<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Coffee">
    <item>
      <listing>Espresso</listing>
      <price>3.10</price>
    </item>
    <item>
      <listing>Latte</listing>
      <price>3.50</price>
    </item>
    <item decaf="true">
      <listing>Americano</listing>
      <price>3.20</price>
    </item>
  </category>
  <category name="Frappe">
    <item>
      <listing>Salted Caramel Frappé</listing>
      <price>4.50</price>
    </item>
    <item>
      <listing>Pumpkin Spice Frappé</listing>
      <price>5.00</price>
    </item>
    <item decaf="true">
      <listing>Mint Chocolate Frappé</listing>
      <price>5.00</price>
    </item>
  </category>
  <category name="Iced Coffee">
    <item>
      <listing>Iced Toasted Vanilla</listing>
      <price>4.00</price>
    </item>
    <item>
      <listing>Iced Shaken Espresso</listing>
      <price>3.80</price>
    </item>
    <item decaf="true">
      <listing>Iced Flat White</listing>
      <price>4.10</price>
    </item>
  </category>
  <category name="Tea">
    <item>
      <listing>Mint</listing>
      <price>2.50</price>
    </item>
    <item>
      <listing>Green</listing>
      <price>2.70</price>
    </item>
    <item decaf="true">
      <listing>Breakfast</listing>
      <price>2.50</price>
    </item>
  </category>
  <category name="Deserts">
    <item>
      <listing>Chocolate Brownie</listing>
      <price>4.50</price>
    </item>
    <item>
      <listing>Vanila Cheescake</listing>
      <price>4.50</price>
    </item>
    <item>
      <listing>Carrot Cake</listing>
      <price>5.00</price>
    </item>
  </category>
</menu>